# IDE
.editorconfig export-ignore

# Git
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore

# Quality tools
.changeset export-ignore
.husky export-ignore
commitlint.config.js export-ignore
lint-staged.config.js export-ignore

# Tests
phpunit.xml.dist export-ignore
tests export-ignore

# Coding standards
ecs.php export-ignore
phpstan.neon.dist export-ignore
rector.php export-ignore
stubs export-ignore

# Documentation
CHANGELOG.md export
CONTRIBUTING.md export-ignore

# Docker
compose.yml export-ignore
docker export-ignore

# Extra
package.json export-ignore
