# OS
.DS_Store

# IDE
.idea
.vscode

# Silverstripe
public/
app/

# Dependencies
node_modules/
vendor/
composer.lock
yarn-error.log
yarn.lock

# Tests
.phpunit.result.cache
coverage/

# Docker
docker
compose.yml
