parameters:
  level: 9
  paths:
    - _config.php
    - src
    - tests
  stubFiles:
      - stubs/Psr/Container/ContainerExceptionInterface.stub
      - stubs/Psr/Container/ContainerInterface.stub
      - stubs/Psr/Container/NotFoundExceptionInterface.stub
      - stubs/SilverStripe/Core/Injector/Injector.stub
  ignoreErrors:
    -
      messages:
        # Ignore configuration properties
        - '#Static property .* is never read, only written#'
        # Prefer dynamic calls in PHPUnit
        - '#Dynamic call to static method PHPUnit\\Framework\\#'
        - '#Dynamic call to static method SilverStripe\\Dev\\FunctionalTest#'
        - '#Dynamic call to static method SilverStripe\\Dev\\SapphireTest#'
      reportUnmatched: false
